/* This is a style css to the index.html in the root*/
body {
    overflow-y: auto;
    overflow-x: auto;
}


body.mainView main .container {
    height: 100vh;
    width: 100vw;
    margin: -1rem;
    display: grid;
    grid-template-areas: "plus      main cateMa"
                         "overdue   main cateMa"
                         "footer    main cateMa";
    grid-template-rows: 0.5fr 2fr 1.5fr;
    grid-template-columns: 1fr 2fr 1fr;
 }
 body.mainView main .cell-1 {
    height: 5rem;
    background: rgb(14, 195, 255);
    grid-area: plus;
 }
 body.mainView main .cell-2 {
    background-color: aqua;
    grid-area: overdue;
 }
 body.mainView main .cell-3 {

    background: limegreen;
    grid-area: footer;
 }
 body.mainView main .cell-4 {
    background: gold;
    grid-area: main;
 }
 body.mainView main .cell-5 {
    background: rgb(250, 151, 230);
    grid-area: cateMa;
 }
 body.mainView main .cell {
    color: black;
    text-align: center;
    padding:1em
 }

 body.mainView main .sectionContainer{

    text-align: left;
    margin-top: 0em;
 }

 body.mainView main .sectionHeader {
    color: rgb(152, 66, 66);
    font-size: 2em;
    margin: 0%;

 }
 body.mainView main .sectionHeaderMain {
    color: rgb(152, 66, 66);
    font-size: 4em;
    margin-top: 1rem;
    margin-bottom: 1rem;

 }

 body.mainView main .jornalBoxOverdue{
     
     margin-top: 0.3em;
     padding:0.5em;

     height: 28rem;
     
     overflow-x: hidden;
     overflow-y: auto;
     text-align:justify;

     border-width: 2px;
     border-style: solid;
     border-color:  rgb(40, 25, 3);
     border-radius: 1em;     

 }
body.mainView main .jornalBoxOverdue::-webkit-scrollbar { 
    display: none;
}

body.mainView main .bullet{

    display: flex;
    align-items: center;
    height: 2em;
    font-size: 1.4em;
    background-color: antiquewhite;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 0.5em;  
    margin:0.3rem;
    text-align: left;
    padding-left: 0.5rem;
}

body.mainView main .des{
    overflow:expand;
    /* display: flex; */
    align-items: center;
    height: auto;

    background-color: rgb(136, 123, 105);
    font-size: 0.9em;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 0.5em;  
    margin:0.5rem;
    text-align: center;
    padding: 0.5rem;

    display: none;
}

body.mainView main .BulletButton {
    margin: 0.5rem;
    line-height: 1rem;
    font-size: 1rem;
    background-color: aquamarine;
}

body.mainView main .title {
    text-align: center;
    width: 90%;
}

body.mainView main .description {
    position: relative;
    width: 100%;
}

body.mainView main .graphBox{
     
    margin-top: 0.3em;
    padding:0.5em;

    height: 15rem;
    
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;

    border-width: 2px;
    border-style: solid;
    border-color:  rgb(40, 25, 3);
    border-radius: 1em;     

}
body.mainView main .graphBox::-webkit-scrollbar { 
   display: none;
}

body.mainView main .jornalMainBox{
     
    margin-top: 0.3em;
    padding:0.5em;

    height: 52rem;
    
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;

    border-style: solid;
    border-color:  rgb(40, 25, 3);
    border-radius: 1em;  
}
body.mainView main .jornalMainBox::-webkit-scrollbar { 
   display: none;
}

body.mainView main .MonthSection{
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
    border-width: 2px;
   
}

body.mainView main .BigButton{
    font-size: 1.5em;
    display: grid;
    justify-items: center;
    align-items: center;


    height: 3rem;
    background-color: rgb(170, 177, 182);
    border-radius: 0.3em;
    
    margin-top:1.2rem;
    margin-bottom:1rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

body.mainView main .BigButton:hover{
    background-color: rgb(114, 99, 80);
}

body.mainView main .categoryBox{
     
    margin-top: 0.3em;
    padding:0.5em;

    height: 40rem;
    
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;

    border-style: solid;
    border-color:  rgb(40, 25, 3);
    border-radius: 1em;  
}

body.mainView main .categoryBox::-webkit-scrollbar { 
    display: none;
 }

body.mainView main .categotyDemo{
    height: 3.5em;
    font-size: 2em;
    background-color: antiquewhite;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 0.5em;  
    margin:0.3rem;

    display: flex;
    justify-items: center;
    align-items: center;

    padding: 0.5rem;

}

body.mainView main .CateButton {
    margin: 0.5rem;
    line-height: 3rem;
    font-size: 1rem;
    background-color: aquamarine;
}


body.mainView main #addBulletButton {
    line-height: 5rem;
    font-size: 2rem;
    background-color: aquamarine;
}
  
body.mainView main #addBulletButton::before {
    content: "➕";
}

body.mainView cate-editor-page {
    display: none;
}
body.mainView bullet-editor-page {
    display: none;
}



/* Bullet Editor CSS Start */
body.bulletEditor main{
    display: none;
}

body.bulletEditor cate-editor-page{
    display: none;
}

body.bulletEditor bullet-editor-page {
    display: block;
}

body.bulletEditor * {
    background-color: lightblue; /* make the background light blue */
}
/* Bullet Editor CSS End */


/* Cate Editor CSS Start */
body.cateEditor bullet-editor-page{
    display: none;
}
body.cateEditor main{
    display: none;
}

body.bulletEditor bullet-editor-page {
    display: block;
}

body.bulletEditor * {
    background-color: lightblue; /* make the background light blue */
}
/* Cate Editor CSS End */


