/* Add styling to h1 elements */
h1 {
  color: (9, 44, 82); /* make all h1 elements navy colored */
  margin: auto;
  width: 300px;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 40px;
}

/* Add styling to form element */
form {

  text-align: center;
  width: 100%;
  flex: 1;
}

/* Add styling to main element */
main {
  display: flex;
  flex-direction: row;
}
/* Add styling to input elements */
input {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}
/* Add styling to select input fields */
select {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}
/* Add styling to the submit button */
input[type="submit"] {

  margin: 1rem;
  width: 5rem;
  border: none;
  font-size: 1rem;
  background-color: rgb(75, 164, 220);
  padding: 0.7rem;
}
/* Add styling to the reset button */
input[type="reset"] {
  margin: 1rem;
  width: 5rem;
  border: none;
  font-size: 1rem;
  background-color: rgb(75, 164, 220);
  padding: 0.7rem;
}
/* Add styling to the dropdown options */
option {
  background-color: white;
}
/* Add styling to the star option */
p {
  /*font-size: 30;*/
  font: larger;
}

/* Styling for star checkbox */
.star {
  visibility: hidden;
  font-size: 25px;
  cursor: pointer;
}
/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.65); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(173, 210, 244); /* make the background white */
  border-radius: 3em;
  margin: auto;
  padding: 2rem;
  width: 50%;
}

/* The Close Button */
.close {
  display: none;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
